body {
  font-family: Arial, sans-serif;
  background-color:rgb(2, 2, 76);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: rgb(173, 155, 155);
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333333;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input, form button {
  padding: 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #030432;
  color: white;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

button.edit, button.delete {
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

button.edit {
  background-color: #6b0d96;
  border: none;
  color: white;
}

button.delete {
  background-color: #d90aec;
  border: none;
  color: white;
}
